* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

header {}

#calculator {
  font-family: 'Courier New', Courier, monospace;
  font-size: 32px;
  font-weight: 700;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 30vw;
  background-color: #2C2C2B;
}



#display {
  background-color: rgba(175, 182, 158, 0.87);
  width: 100%;
  min-height: 15%;
  margin: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  text-align: center;
  background-color: #616A93;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  flex-grow: 1;

}

button#clear {
  background-color: #FFDB03;
}

#buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1 auto;
}

#functions {
  display: flex;
  width: 100%;
  min-height: 10%;
  flex: 1 1 auto;
}

#functions button {
  width: 50%;
}

#wrapper {
  display: flex;
  flex: 1 1 auto;
}

#numpad {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 2 2 auto;
}

button.number {
  width: 30%;
  flex-grow: 1;
}

button[value="0"] {
  flex-grow: 10.5;
}

div.operators {
  min-height: 100%;
  min-width: 20%;
  display: flex;
  flex-wrap: wrap;
  order: 1;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 auto;
}

div.operators button {
  flex-grow: 1;
}
